<?xml version="1.0" encoding="UTF-8" standalone="no"?><config>
    <urlDB>jdbc:postgresql://localhost:5432/Vacancy</urlDB>
    <userID>postgres</userID>
    <password>postgres</password>
    <siteUrl>http://www.sql.ru/forum/job-offers</siteUrl>
    <!--Дата предыдущей загрузки-->
    <previousTime>09 май 18, 11:35</previousTime>
    <!--Дата следущей загрузки-->
    <nextTime>10 май 18, 11:35</nextTime>
    <!--частота запуска в днях-->
    <frequency>1</frequency>
</config>